[2015-05-13 09:28] vinkla opened #6 "Namespace Changes"
What about renaming the namespace to `AlgoliaSearch\Laravel` instead of `Algolia\AlgoliasearchLaravel`? Then it will be more inline with the API PHP package for Algolia.

[2015-05-13 11:45] maxiloc commented on #6
Yep that makes sense. Fix with 0aee63a

[2015-05-13 11:45] #6 closed

[2015-05-13 11:48] vinkla commented on #6
Well done!

[2015-05-13 12:15] vinkla opened #10 "PSR-2, PHP-FIG and Contribution Guidelines"
What about adding [PSR-2 styled syntax](https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-2-coding-style-guide.md) and follow naming conventions specified in [PHP-FIG](https://github.com/php-fig/fig-standards/blob/master/bylaws/002-psr-naming-conventions.md)? Below is an example file of contributing guidelines (CONTRIBUTING.md).

---
# CONTRIBUTING

Contributions are welcome, and a

[2015-05-13 19:43] maxiloc commented on #10
Yes a CONTRIBUTING.md is good idea, I am gonna make one.

PSR-2 is not a priority right now but can be nice to follow it in a near future. Feel free to make a pull request for it.

[2015-05-13 19:44] vinkla commented on #10
Cool, I probably will.

[2015-05-14 11:12] maxiloc commented on #10
I merging your pull requests so I closing this

[2015-05-14 11:12] #10 closed

[2015-05-14 11:16] vinkla commented on #10
Thanks! There are some none-camelcased variables left that broke the tests when I changed them. Maybe you could take a look?

[2015-05-15 08:42] vinkla opened #13 "Snake Case Question"
There are some variables in this project that uses `snake_case` instead of `camelCase`. Is this intentional or just for this project? In the Laravel world camelCase is preferred.

[2015-05-16 11:22] maxiloc commented on #13
I don't see any issue for converting all variable for camelCase :)

[2015-05-16 12:31] vinkla commented on #13
That's super!

[2015-05-18 08:47] #13 closed

[2015-05-18 08:49] vinkla commented on #13
@maxiloc Awesome :+1:

[2015-06-18 02:09] chrisvanderpoel opened #22 "Models using the Algolia trait appear broken"
If you apply an Algolia trait to a model and attempt to then call the static find() method on the model, you will receive an error.

`BadMethodCallException in Builder.php line 1992: Call to undefined method Illuminate\Database\Query\Builder::_find()`

It can be traced to the following method in the `AlgoliaEloquentTrait` trait:

[code]

This code will *always* attempt to call the method even if i

[2015-06-18 07:09] #22 closed

[2015-06-18 09:12] maxiloc commented on #22
There was also another issue fixed 9ba94a2 . Because static call inside a instance result in a non static call and therefore catch by __call and not __callStatic

[2015-06-30 10:48] MarcTroesken opened #25 "Hosts unreachable: Resolving timed out after 2000 milliseconds"
Hi,

I´m running into this error with Laravel 5.1 when trying to index some data. Always get this error:
`AlgoliaException in Client.php line 392:`

`Hosts unreachable: Resolving timed out after 2000 milliseconds,Resolving timed out after 2000 milliseconds,Resolving timed out after 4000 milliseconds,Resolving timed out after 4000 milliseconds`

Found something similar on Twitter from 2013 but can´

[2015-06-30 11:15] redox commented on #25
Hi Marc,

could you provide us the whole stacktrace and tell us which call triggered that? Was it a big `addObjects` or a `search` ?

[2015-06-30 12:14] MarcTroesken commented on #25
I tried both of them. I also switched the laravel package to the original algolia_php, but same issue.
Is there a problem with indexing html ?

Here´s the long part:

![bildschirmfoto 2015-06-30 um 14 14 07](https://cloud.githubusercontent.com/assets/6149592/8430481/57fbbea6-1f32-11e5-89da-19bbdd367236.png)

[2015-06-30 12:26] maxiloc commented on #25
Ok. It seems this is related to your php installation. Can you try to reinstall php on your environment ?

Can you also give me a bit more details on your environment so that I can try to reproduce it ?

Is it running on Window, Unix, Mac ?
Are you using something like XAMP ?

[2015-06-30 12:28] MarcTroesken commented on #25
It is running on a virtual machine:

[code]

[2015-06-30 12:36] MarcTroesken commented on #25
oooouuuuh. The vm is the problem ... I pushed it to production and it worked! But do you have any ideas why ?

[2015-06-30 12:45] maxiloc commented on #25
There is two possible explanations:
- Issue with the vm certificate (most probable)
You can check that you have certificates with this command ```ls /etc/ssl/certs | grep -i comodo```. It should return something like 5 lines. It you do not have them it means you do not have the certicates
- Issue with vm networking

I am closing this as it is not a extension related issue.

[2015-06-30 12:45] #25 closed

[2015-07-06 21:53] chrisvanderpoel opened #26 "AutoIndex and AutoDelete will not work as documented"
The documentation is incorrect in the usage of `autoIndex` and `autoDelete`.

Based on the code...

[code]

... you *must* declare these properties as either static...

[code]

... or change the way you reference them in the code.  Additionally, the `property_exists` check will always fail as, if the property *does* exist on the model, `property_exists` will return `true` and you're checking again

[2015-07-06 22:07] maxiloc commented on #26
@chrisvanderpoel Thanks. In the tests I am using static so yes the doc was wrong.

[2015-07-06 22:40] chrisvanderpoel commented on #26
Might want to take a pass on the docs.  There are references to Ruby in there and some really confusing references to methods that do not exist in the code samples.  For instance, the `Target Multiple Indexes` section refers to an `add_index` method while the code sample below it references the `indexOnly` method.

Any particular reason you're referencing the `autoIndex` and `autoDelete` propertie

[2015-07-07 07:00] #26 closed

[2015-07-07 07:15] maxiloc commented on #26
@chrisvanderpoel Yes you are right there was some mistake on the doc, and some inconsistency regarding trait attribute. It should be good now.

The reason why we want them static is to be able to do :
[code]

Thanks for your help

[2015-07-08 21:51] olimorris opened #27 "You might want to sort the read me out..."
The readme references Ruby and doesn't tell me how to search. The English is poor and so is the grammar,

As yet, I don't want to give Algolia my hard earned money or contemplate using this package in a Laravel app.

[2015-07-08 23:07] maxiloc commented on #27
@olimorris You are right, the readme still need some work. We will work on that asap.

Also, I think I removed the last ruby reference.

[2015-07-30 20:21] freddinator opened #28 "Indexing through relationships"
I have a post, and this post must have one category. The category is defined via an Eloquent relationship, so the only thing about the category on the Post model is the id. However, I want to be able to make the post searchable by category. How would I do this, even though I cannot add the category's name as an indexing parameter as it isn't actually on the Post model?

[2015-07-30 21:03] maxiloc commented on #28
@freddinator Actually you can do it with the ```getAlgoliaRecord``` method

Here how I would do it

[code]

[2015-07-30 21:03] #28 closed

[2015-08-14 13:00] argb opened #30 "why require "vinkla/algolia": "~2.0""

[2015-08-14 13:03] maxiloc commented on #30
@vinkla package allow to have a manager on top on the algolia client + have the service provider + facade already setup.

The main reason is avoiding to rewrite something that is already done

[2015-08-14 13:03] #30 closed

[2015-08-14 13:32] vinkla commented on #30
@maxiloc Good answer :+1:

[2015-08-17 08:24] argb opened #31 "When should I call setSettings() method on my php code?"
Every time i push data to index ? Should I call it  on my Model class constructor?

[2015-08-17 08:49] maxiloc commented on #31
@argb You should not call setSettings, once save from the "Algolia Search" config on wordpress admin you should be good to go

[2015-08-17 08:49] #31 closed

[2015-08-17 08:51] maxiloc commented on #31
@argb I edit my last message. I made a mistake on the project.

[2015-08-17 11:21] argb commented on #31
So that means I should not  do this on any Model logic,I should do this at outside script or by algolia web management tools,right?

[2015-08-17 11:27] maxiloc commented on #31
Yes exactly

[2015-08-17 17:39] argb commented on #31
@maxiloc Thank you very much.

[2015-09-16 08:25] redox opened #33 "Ensure we're supporting Laravel 4"

[2015-09-16 08:31] vinkla commented on #33
Do we really need to?

[2015-09-16 08:43] redox commented on #33
Not yet sure but we got several times the question in the past few days. Even if simple to upgrade from 4 to 5, I understand it can heavy for some users. You think it's a lot of work @vinkla? Our Rails plugin targets multiple major releases without too much effort, is that something doable with Laravel? Is it common to have 1 version per major version (in that case, is it 1 or N github repositorie

[2015-09-16 08:49] vinkla commented on #33
The problem is that your current releases points against Laravel 5+ and it means that future versions will point against a downgraded versionen of Laravel. Which could cause some problems. For starter, you won't be able to use my Algolia package since it only supports Laravel 5 and above.

IMO if it is necessary to support Laravel 4 I think you should create a separate package. You'll need to crea

[2015-10-07 10:00] #33 closed

[2015-10-27 10:30] fesja opened #35 "Several bugs setting up the index"
Hi,

I've the following:

[code]

Then, I do `\App\Job::setSettings();` on a command.

1. It's creating two indexes: `jobs_local` and `jobs_home`. Shouldn't it be 'jobs_home_local`? When I upload to production it's going to be a conflict.
2. It's setting up the attributes to index and custom ranking of `jobs_local` on the slave index (`jobs_home`). And the config for `jobs_local` is empty.

I am d

[2015-10-27 15:17] #35 closed

[2015-10-27 15:18] maxiloc commented on #35
1.0.5 should fix your issues. Tell me how it goes

[2015-10-27 16:57] fesja commented on #35
About the index name, you have added a bug. On ModelHelper.php:107, it should be

[code]

instead of

[code]

The first time I set up the indexes, the settings are not saved on the main index, they are saved just on the slave. I'm going to try to locate the bug.

[2015-10-27 17:01] maxiloc commented on #35
Yes my bad, I am fixing this

[2015-10-27 17:23] fesja commented on #35
About the problem with saving the setting of the main index, I think it's problem of your backend.

If I only execute ```\App\Job::setSettings();```, settings are saved on both indexes.
If I execute just after that ```\App\Job::reindex();```, petitions go well to both indexes with the correct parameters. The one to the slaved index is saved, but the one to the master index is not. This is the task

[2015-10-27 17:28] maxiloc commented on #35
@fesja yes that is expected, if you use the reindex it will create a new index then move it. You need to do a setSettings after the reindex.

[2015-10-27 17:30] fesja commented on #35
@maxiloc thanks! I thought reindex was just for content. It's working now.

[2015-11-08 09:45] JellyBool opened #36 "Hosts unreachable:Resolving timed out after 2000 milliseconds"
i'm running algolia with laravel 5.1 using this package,but i got the erros when i try to index some data or setup a search.

![2015-11-08_17-36-32](https://cloud.githubusercontent.com/assets/6011686/11019692/519efb3a-863f-11e5-9368-f7592b8bf595.png)

already went throught this [issue](https://github.com/algolia/algoliasearch-laravel/issues/25),but i could not solved my problem

running laravel 5.

[2015-11-09 09:44] asurak commented on #36
Can you give me the source IP of the requests and the APPID?

[2015-11-09 10:06] JellyBool commented on #36
APP_ID : `9PETS208IG`;
source IP: `101.200.187.43`

is that so?

[2015-11-09 10:23] asurak commented on #36
Yes, perfect. The IP is Aliyun cloud in China but your Algolia account is hosted in Singapore. I recommend using the Hong Kong one as this one has much better and more stable connectivity to China. Our API is not blocked by the Great Wall as far as I know. So if possible, push your data to Hong Kong, not Singapore. I will be doing one optimization in the next few hours that will improve the latenc

[2015-11-09 13:44] JellyBool commented on #36
OK,thanks for reply...i will try it this weekend @asurak

[2015-11-13 08:55] pbean opened #37 "Slaves set through setSetting do not take advantage of Per-environment Indexes option"
Hello,

I was working on taking my granular build settings for our business out of being setup via the dashboard and configuring it all through my laravel models. However, I have discovered that the slaves feature does not take advantage of the Per-environment Indexes feature. I'm using the following format
MASTER_LOCAL
MASTER_PRODUCTION
local and production are added per the per-environment index

[2015-11-13 10:45] maxiloc commented on #37
@pbean It has been solve with release 1.0.6
Are you experiencing this with this version ?

[2015-11-14 20:22] maxiloc commented on #36
Closing this as it is unrelated to the package. Feel free to contact us by email if needed

[2015-11-14 20:22] #36 closed

[2015-11-25 16:33] RomainSauvaire opened #41 "autoIndex and autoDelete do not works on Eloquent builders"
Hello,

When I trigger updates and deletes from the Eloquent builder, the Algolia indexes are not touched :
**This doesn't work**
[code]
**This does work**
[code]
I have the same problem with the `delete()` method.

What am I missing here and why is it working only with Models : this forces me to do two requests `find()` + `update()` rather than only one `update()`.

[2015-11-25 16:37] maxiloc commented on #41
@RomainSauvaire yes

[code]

is not an Eloquent call, it is just a convenient way to generate the query hidden behind the model, so yes it's expected

[2015-11-25 16:37] #41 closed

[2015-11-25 16:38] maxiloc commented on #37
No news I am closing this. Feel free to re-open if needed

[2015-11-25 16:38] #37 closed

[2015-11-27 10:26] RomainSauvaire commented on #41
Hello @maxiloc
I understand your answer but I would advice you to state it in the documentation since this is a big "weakness" and would avoid a lot of googling for other people.

[2015-11-27 11:04] maxiloc commented on #41
@RomainSauvaire Thanks for the feedback, I added a block about this => 1f1351f

[2015-11-27 13:22] RomainSauvaire commented on #41
Big thank you :+1:

[2015-12-03 11:07] xitude opened #42 "9. Search is missing"
Your missing item number 9 on search on your index of content.

[2015-12-03 11:15] #42 closed

[2015-12-03 11:16] maxiloc commented on #42
@xitude Thanks for reporting that :+1:

[2015-12-03 16:28] xitude opened #43 "Where's before indexing"
I'm trying to index my dataset but i only want the data with the status of 1.
How would I achieve that because current efforts are not working.

[code]
"Call to undefined method Illuminate\Database\Query\Builder::reindex()"

[2015-12-03 16:52] maxiloc commented on #43
Yes there has been the question multiple times that why we added this section in the readme => https://github.com/algolia/algoliasearch-laravel#eloquent-compatibility

You need to fetch everything before pushing the data, something like:

[code]

[2015-12-03 16:52] #43 closed

[2015-12-03 16:56] xitude commented on #43
My apologies, I did look but was unable to find anything. Thank you for your assistance.

[2015-12-03 16:57] maxiloc commented on #43
no worry :smile:, I will add a example for collection as it is missing from the readme

[2015-12-03 17:14] xitude commented on #43
After 10 mins of trying this, all i can say is it takes ages and doesn't complete. I had 500+ rows to index and it timed out.

[2015-12-04 09:43] maxiloc commented on #43
Did you had a look at https://github.com/algolia/algoliasearch-laravel#restrict-indexing-to-a-subset-of-your-data if that fit your use case you calling Product::reindex(); will batch everything automatically ?

[2015-12-07 12:21] xitude commented on #43
I think it's safe to assume i'm blind and not paying attention to anything in the docs.
Ill give it a go and get back to you.

[2015-12-09 16:59] xitude opened #44 "algoliaSettings"
Where can I find a full list of settings I can apply to indexes?
Im currently looking for Query words interpretation setting.

[2015-12-09 17:05] #44 closed

[2015-12-09 17:05] xitude commented on #44
I found them on the ?'s on the site.

[2015-12-09 17:09] Jerskouille commented on #44
You have a full list of [indexing parameters](https://www.algolia.com/doc/php#indexing-parameters) in the PHP doc, alongside [query parameters](https://www.algolia.com/doc/php#query-parameters).

[2015-12-16 05:51] fahad-softpyramid opened #45 "AlgoliaEloquentTrait error in __callStatic method"
I just figure out a minor issue in __callStatic method() method of "AlgoliaEloquentTrait".
I think the if condition at line 193 should be replaced by following because it prevents all Eloquent methods to be called:

if (method_exists($instance, $method)){
            return call_user_func_array([$instance, $method], $parameters);
}else{
            $method = str_replace("_","",$method);

[2015-12-16 10:21] maxiloc commented on #45
@fahad-softpyramid

Are you using the last version ?
Because we don't have this issue with the last one
https://github.com/algolia/algoliasearch-laravel/blob/master/src/AlgoliaEloquentTrait.php#L197

[2015-12-16 10:36] fahad-softpyramid commented on #45
I did use the latest version. But thanks for fixing ;)

[2015-12-16 10:37] maxiloc commented on #45
I did not fix anything :smile:, that why I was asking

[2015-12-16 10:56] #45 closed

[2015-12-16 11:00] fahad-softpyramid commented on #45
Yeah I think that was the 1.0@dev version. Thanks for help though.

[2016-01-05 07:36] prspace opened #46 "Insert all data at once"
Can anyone please tell me how can i insert all table rows at once like in "algolia-php" library $algolia->saveObject($rows);

[2016-01-05 09:01] maxiloc commented on #46
@prspace Can you give me a bit more context on what you are trying to achieve ?

[2016-01-05 15:57] florentdouine opened #47 "Indexing many records with relationships"
Hi !

I'm trying to index many rows of my database (about 20000) in Algolia, so i tried 2 solutions :
• Class:reindex() make 4 or 5 SQL queries for every rows so it takes a very long time to fetch all datas.
• Object->pushToIndex() after i fetch datas from database but it seems to take a long time to send data to Algolia server.

Is there a solution for my case ?

[2016-01-05 17:17] maxiloc commented on #47
I would copy this method and rename it to ```reindex```

And replace

[code]

by

[code]

I think we should add to way to handle that better. I will try to do that this week

[2016-01-06 10:13] florentdouine commented on #47
It's exactly what i'll need, thanks for your work !

[2016-01-22 15:38] gervye opened #48 "Cannot add object when Model ID is binary"
The ID of my table is a binary UUID. The Algolia traits throws a 400 exception when saving a model instance and I see that it calls an API entry with a bad path:
AlgoliaException in Client.php line 562:
400 in Client.php line 562
at Client->doRequest(object(ClientContext), 'PUT', 'LTNCXQAANN.algolia.net', '/1/indexes/blbm_me/%11%E5%C1%1A%E9%3B%84%E0%84X%00%11%223DU' ...

Note that setting the $aut

[2016-01-24 00:35] Mohamed-Zedan opened #49 "Invalid argument supplied for foreach()"
Hello,
I got this error "Invalid argument supplied for foreach()" when I am trying to foreach results
this is a code

    $results = Cartalyst\Sentinel\Users\EloquentUser::search('arina');
    if (is_array($results)) {
        foreach ($results as $result) {
            foreach ($result as $a) {
                $name = $a['full_name'];
            }
        }
    }

[2016-01-24 00:42] Mohamed-Zedan commented on #49
@maxiloc Please, if you can help me.

[2016-01-25 14:57] maxiloc commented on #49
@Mohamed-Zedan What are you trying to do ?

[2016-01-25 15:05] maxiloc commented on #48
yes indeed there is an issue, let me fix this

[2016-01-25 15:09] maxiloc commented on #48
Fixed with 5d176ceda0b55b4a87416808b90465190cf8d9de

[2016-01-25 15:09] #48 closed

[2016-01-25 15:57] Mohamed-Zedan commented on #49
@maxiloc Thanks for your response.
am trying to get and display the results, Is this true ?

[2016-01-25 16:05] maxiloc commented on #49
It should more looks something like:

[code]

[2016-01-25 16:10] Mohamed-Zedan commented on #49
@maxiloc Ok this returns this:

[code]

Now I want to get "full_name" from each array, how I can do this ?

[2016-01-25 16:15] maxiloc commented on #49
You should do $result["full_name"]. This is working as expected. I am closing this as not an issue of the extension. Feel free to reach ```support at algolia dot com``` if you need

[2016-01-25 16:15] #49 closed

[2016-01-25 16:41] Mohamed-Zedan commented on #49
Sorry bro @maxiloc , but i really need a help.

If I do this
[code]
 I got an error "Undefined index: full_name", because there is no full_name in $result. In $result there are three arrays '0', '1' and '2' needs to foreach again to get a full_name from each array. This is already what you've done: (This is what i am talking about from the beginning )

[code]

Please if you can help me ..

[2016-01-25 16:47] maxiloc commented on #49
I am sorry but:
- This is really out of the scope of our support
- Github issues are reserved for bug reporting related to the extension

[2016-01-25 16:54] Mohamed-Zedan commented on #49
@maxiloc ok thanks

[2016-01-28 09:08] prspace commented on #46
All i want to do is suppose i have a model 'Listing'. Now is i want to save it to algolia index i have to do
$listing = Listing::find(1);
$listing->pushToIndex();
If i have many listings it takeing too much time to push all of them.

And i need like that Listing::all()->pushToIndex();

[2016-01-28 09:09] prspace commented on #46
Is this package compatible for laravel 5.1

[2016-01-28 09:10] maxiloc commented on #46
Yes it's compatible with 5.1

you can use the reindex method.

[code]

[2016-01-28 09:10] #46 closed

[2016-01-28 09:16] prspace commented on #46
Thanks for helping me. Can you please tell me how can i do Listing::reindex() with relationships like Listing::with('uploads')->reindex();

[2016-01-28 09:36] maxiloc commented on #46
this is not yet possible, it's part of https://github.com/algolia/algoliasearch-laravel/issues/47

[2016-02-01 13:23] prspace opened #50 "Local database integer data getting string when i push it to algolia"
Records i'm pushing to algolia are showing as string however it's an integer in my local database. So the advice section of algolia saying "The attribute total_viewed in the Custom Ranking is formatted as a string".

[2016-02-01 13:30] maxiloc commented on #50
@prspace yes you need to cast it on your side, the extension just send the data as is.

[2016-02-01 13:30] #50 closed

[2016-02-03 21:56] mspivak opened #51 "$algoliaSettings['attributesForFaceting'] setting is being ignored."
Hi there,

Each time I run `Product::reindex();` the `attributesForFaceting` setting gets cleared on my dashboard and I must login and update it manually. Am I doing it wrong?

[code]

Thanks in advance!

[2016-02-04 00:43] Nikita240 commented on #51
+1 same issue

[2016-02-04 01:21] Nikita240 commented on #51
Turns out this is intended behaviour.

See the part in blue:

![image](https://cloud.githubusercontent.com/assets/6479817/12802842/91ace756-ca9a-11e5-8aa1-f74f13461367.png)

[2016-02-04 07:51] maxiloc commented on #51
Yes you need to do setSettings after the full reindex. Let keep this open as we might want to handle it in the reindex method

[2016-02-06 00:04] mspivak commented on #51
You're right @maxiloc. Doing `setSettings` after `reindex` fixes the thing. I would suggest adding it by default, since one wouldn't expect that reindexing resets the index settings!

[2016-02-06 00:19] mspivak opened #53 "$indices setting is being ignored."
So I had a "products" index and then I added a new model to my app called "services". Since the JS Helper won't allow me to query two indices at a time and I want to avoid the duplicated request, I decided to have "services" added to the "products" index as @pixelastic [suggested](https://github.com/algolia/algoliasearch-helper-js/issues/270).

I added the following to my `Services` model:

    pu

[2016-02-10 00:02] mspivak commented on #53
Please disregard this. I was doing it wrong. :)

[2016-02-10 00:02] #53 closed

[2016-03-16 14:49] walteranderson opened #54 "Setting distinct for an index by default using $algoliaSettings"
Greetings,

I have a model set up to automatically sync to Algolia and for this index I would like to have the field called `category` to be distinct by default for all queries. In my Eloquent model, part of my `$algoliaSettings` look like this:

[code]

When I call `Model::setSettings()` and then take a look at the index display settings in the web app, I see this:

![screen shot 2016-03-16 at 9

[2016-03-16 14:51] maxiloc commented on #54
Did you try:

[code]
?

[2016-03-16 15:41] walteranderson commented on #54
Excellent! Thank you very much. I'm not sure how I managed to try every variation except for this one, but I do appreciate the help.

I suppose when I was looking through the documentation, I was expecting `$algoliaSettings` to only include indexing parameters and the only examples I could find using the distinct option were at the query level.

[2016-03-16 15:41] #54 closed

[2016-04-05 14:33] JapSeyz opened #55 "Index subset & add to index"
Hey.

Is it possible to add to the indexed subset of data?

Eg. I would like to add $user->name to my subset of data as user_name, this is to prevent having to load the entire user model on every single search which shows this data.

Let's say my model contains these attributes:
[
'id' => int,
'name' => str,
'email' => str
]

I don't want the email to be searchable, therefore I'll set the data to

[2016-04-05 14:41] maxiloc commented on #55
By default the package use the Laravel toArray() method which already take into account $hidden, $visible and $appends properties.

If you want something more custom you can create an ```getAlgoliaRecord``` method and arrange the record how you want it.

Check the readme for examples.

[2016-04-05 14:41] #55 closed

[2016-04-05 14:43] JapSeyz commented on #55
Alright thanks.

Could you give me a quick example of "Restrict Indexing to a Subset of Your Data", because the example given doesn't make a lot of sense to me, except if you have to setup an array of values inside the method body.

[2016-04-05 14:46] maxiloc commented on #55
Let's say you want to index users that have more than 10 friends
[code]

[2016-04-05 14:49] JapSeyz commented on #55
Ahh, I thought I could pick and choose individual columns like that, I see now that it is meant for pick and choosing rows instead.

[2016-04-13 22:30] stoicbuddha opened #56 "_geoloc object can't be submitted via update method"
When you attempt to update via the update() method, you can't send _geoloc.  You can set it as an array, an object, whatever; it won't work.  You get an error saying that _geoloc can't contain a string, and if you look at the body of the request in the logs, you can see it's sending _geoloc as blank.

[2016-05-02 16:55] jschutt opened #57 "Disabling for Testing"
Thank you all for your work on this package! It's much appreciated.

Is there a good way to disable the package when running tests? I'm migrating and seeding my database when I run my tests, and the package is attempting to push the data to Algolia every time a model is saved.

What do you think?

[2016-05-02 17:02] maxiloc commented on #57
I would set the following static attributes to false:
- autoIndex
- autoDelete

[2016-05-02 17:07] jschutt commented on #57
Thank you @maxiloc - That does speed up the tests.

Is there a way to dynamically set that static variable though? I would like it to be false if the current environment is `testing` and true otherwise.

[2016-05-02 17:11] maxiloc commented on #57
Yep. That something we could add

[2016-05-02 22:38] maxiloc commented on #57
@jschutt #57 will fix it

[2016-05-03 08:36] #57 closed

[2016-05-12 12:03] RyanHavoc opened #59 "Hosts unreachable"
I've done a fresh install of Homestead, VirtualBox, freshly downloaded the Vagrant box and am using the latest version algoliasearch-laravel however for some reason I'm getting this error:

[code]

We've been using Algolia for 6 months and this is the first time I've had this issue and I'm stumped as to how to resolve it?

[2016-05-12 12:14] aseure commented on #59
Hello @RyanHavoc. Just to keep track of what we said this morning, we added those lines to the `Vagrantfile` to make VirtualBox use the host DNS to resolve queries but it didn't work:

[code]

[2016-05-12 12:26] asurak commented on #59
We have seen this issue before with Vagrant. If inside the Vagrant box you'll try to run:
`time curl http://WWPOIMBJ3Z .algolia.net` you'll see a really big time. The same thing should happen when you do `time host WWPOIMBJ3Z .algolia.net`. The issue is not on the side of our API but inside the Vagrant box. The reason you see the API client error is that we enforce timeout that is lower than how q

[2016-05-12 12:33] RyanHavoc commented on #59
@aseure Correct, adding that to my Vagrantfile didn't make a difference. Thought it would be helpful to raise this issue here also seen as this package relates specfically to Laravel. My Homestead Vagrantfile now looks like this:

[code]

As I say, doesn't seem to make a difference.

@asurak When I run those commands I don't get a big number I get a host not found errors:

<img width="453" alt="1

[2016-05-12 12:34] asurak commented on #59
@RyanHavoc you have space after you APPID

[2016-05-12 12:37] asurak commented on #59
@RyanHavoc and for the host test, it has to be `time host WWPOIMBJ3Z .algolia.net` - without the `http://`

[2016-05-12 12:39] RyanHavoc commented on #59
@asurak Apologies. I copy and pasted from you comment and for some reason it added a space. :-(

Now I get this:

<img width="453" alt="1 vagrant homestead ssh" src="https://cloud.githubusercontent.com/assets/824169/15214771/e6bdc43c-1846-11e6-905f-a524cc4e9354.png">

[2016-05-12 12:44] asurak commented on #59
The first one is a correct output, the second one is not. Can you run `dig WWPOIMBJ3Z .algolia.net` ?

[2016-05-12 12:57] RyanHavoc commented on #59
OK, that gives me:

<img width="498" alt="1 vagrant homestead ssh" src="https://cloud.githubusercontent.com/assets/824169/15215239/5b36872a-1849-11e6-9848-af9da35260b6.png">

[2016-05-12 13:00] asurak commented on #59
That looks ok but it does not match the error the PHP produces. Do you have `hhvm.server.dns_cache.enable` set to `true` in HHVM?

[2016-05-12 13:03] RyanHavoc commented on #59
Don't appear to have. This is what's set it /etc/hhvm/server.ini:

<img width="498" alt="1 vagrant homestead etc hhvm ssh" src="https://cloud.githubusercontent.com/assets/824169/15215393/392b47aa-184a-11e6-8c73-e9cad7771d2d.png">

And this is what's set in /etc/hhvm/php.ini:

<img width="498" alt="1 vagrant homestead etc hhvm ssh" src="https://cloud.githubusercontent.com/assets/824169/15215401/4cb

[2016-05-12 13:50] RyanHavoc commented on #59
@asurak If this was a DNS resolution issue as @aseure suggests wouldn't I be having problems curling anything? I get the proper response when I curl my website for example...

[2016-05-12 15:08] asurak commented on #59
The DNS resolutions issues we have seen with Vagrant did not stop the system from working but the resolution was very slow. Our PHP API client has timeout of 2 seconds for the initial connection and if the resolution is not fast enough, the client gives up.

[2016-05-12 17:19] RyanHavoc commented on #59
@asurak We're not seeing evidence of that in this case though, host and curl are responding quickly. Any idea on what else I could try? I'm really stuck here as I it's preventing me from working on our platform locally...

[2016-05-12 17:55] asurak commented on #59
Honestly Ryan, I have no idea what could be wrong. The issue is definitely in the way PHP interacts with the system, the client and the API are ok. Can I get a copy of your Vagrant box? Last time I was troubleshooting issue like this I ended-up with strace :)

[2016-05-12 18:55] RyanHavoc commented on #59
@asurak I appreciate your help. I'm literally running a fresh install of Homestead so if you follow the instructions here you'll have what I have: https://laravel.com/docs/5.2/homestead

[2016-05-12 18:56] RyanHavoc commented on #59
I'm using VirtualBox 5.

[2016-05-13 07:22] asurak commented on #59
thanks, I'll dive into that...there is no way we leave this unresolved

[2016-05-13 09:00] RyanHavoc commented on #59
@asurak I really appreciate it. I'm truly at a loss with this. We've been using Algolia for 6 months on this platform and love it and this is the first time we've had any issues of this kind. If I can provide any more information that would be useful please let me know.

[2016-05-13 09:48] asurak commented on #59
@RyanHavoc I'm working on that... so far I see that the DNS server 10.0.2.3 is modifying the answers.
Response of 10.0.2.3:
[code]

Response of 8.8.8.8:
[code]

That they resolve to a different IPs is not a problem, there is round-robin in the DNS.

This is more worrying:
[code]

[2016-05-13 10:47] RyanHavoc commented on #59
@asurak I'll be honest. I'm not sure what I'm looking at here. DNS isn't my forte... but if you're worried I'm worried.

Are these results from your own Homestead instance?

[2016-05-13 11:24] asurak commented on #59
I can reproduce the issue very reliably. Vanilla ubuntu/trusty64 box is not doing it but I have a way how to force it to have the same issue. Right now I'm investigating where in the Homestead box are these settings enforced

[2016-05-13 11:42] asurak commented on #59
@RyanHavoc need your verification ;)

1. Please remove the modification from your `Vagrantfile` so you have the clean repo
2. In the Homestead repo where you create the Vagrant box, file `./scripts/homestead.rb`, line 36, change `vb.customize ["modifyvm", :id, "--natdnshostresolver1", "on"]` to `vb.customize ["modifyvm", :id, "--natdnshostresolver1", "off"]`
3. `vagrant reload`

[2016-05-13 12:29] RyanHavoc commented on #59
@asurak I got excited then but no joy unfortunately.

I set my Vagrantfile back to how it was and change the natdnshostresolver1 on line 36 to off. Reload didn't make a difference so I destroyed the box and build it up again but I'm still getting the same error...

[2016-05-13 12:37] asurak commented on #59
This is my `git diff` from the clean laravel/homestead repository:
[code]

Do you have any other changes?

[2016-05-13 12:48] RyanHavoc commented on #59
No, mines exactly the same:

[code]

[2016-05-15 09:57] asurak commented on #59
Does the `host` command still return the same `NOTIMP` error?

[2016-05-15 10:41] RyanHavoc commented on #59
@asurak Yes it does:

<img width="498" alt="1 vagrant homestead bash" src="https://cloud.githubusercontent.com/assets/824169/15273377/afdf1a7e-1a8f-11e6-98b0-e4dc9b953550.png">

BUT! I spent most yesterday diagnosing and testing. I started off installing a new instance of Laravel along with algoliasearch-laravel package and created a simple model to sync. That worked first time with my existing co

[2016-05-16 06:57] asurak commented on #59
@RyanHavoc just out of curiosity, can you also change `vb.customize ["modifyvm", :id, "--natdnsproxy1", "on"]` to `vb.customize ["modifyvm", :id, "--natdnsproxy1", "off"]` ? Which version of VirtualBox are you using? I've 5.0.20

[2016-05-16 15:52] RyanHavoc commented on #59
@asurak So I got thing working on Saturday but today I've just had that AlgoliaException relating to the timeout issue in milliseconds. This is new, I'd not had that before. I've change the natdnsresolver1 to off in homestead.rb and that has fixed it. Very bizarre.

[2016-05-16 21:00] JapSeyz opened #60 "Update relationships"
Hello.

How I update relationship data once that relationship has been updated?

Eg. I have a car with a passenger relationship. I load the passenger into Algolia along with the car, but whenever the passenger is updated, nothing happens to the Car index where the passenger is also loaded.

It cannot be correct that I have to reindex everything every time.

[2016-05-16 21:36] maxiloc commented on #60
@JapSeyz This is something that we can not handle in a generic way.

The extension relies on eloquent save event to update in algolia.
When you save a passager model laravel will never trigger a save event on the car model.

Even if we would trigger it manually, there is no guaranty that relationships of the passager model would be loaded + there is no way in laravel to tell that a relationship in

[2016-05-16 21:36] #60 closed

[2016-05-17 17:27] florentdouine commented on #60
Maybe this can help : https://laravel.com/docs/5.2/eloquent-relationships#touching-parent-timestamps

It's just an idea but maybe you can touch 'car' entity every time you change a passenger (update the field date_updated). Maybe it will force reindex on Algolia

[2016-05-17 17:29] JapSeyz commented on #60
@florentdouine Thanks.
I ended up extending _reindex() with an additional parameter where I can pass in the rows that I wish to reindex.

Then from the Car, I simply get all the Passengers but leave every other Human alone, and pass the Passenger rows into the _reindex function.

[2016-05-17 17:30] maxiloc commented on #60
This is not something we can do on our side because we don't have the knowledge about relationship

[2016-05-17 17:39] JapSeyz commented on #60
I know, I was saying it was what I ended up doing.

[2016-05-17 18:02] maxiloc commented on #60
@JapSeyz I was responding to @florentdouine 😄

[2016-05-17 18:07] JapSeyz commented on #60
@maxiloc ohhh 😂

[2016-05-19 16:48] dannymichel opened #62 "Trying to get property of a non object"
_Trying to get property of a non object_ `@foreach($items as $item)` `$items->image`

Search controller
[code]

[2016-05-20 09:39] rayrutjes commented on #62
I think you made a little typo:
[code]

[2016-05-20 09:43] rayrutjes commented on #56
Hi @stoicbuddha, sorry for the late reply. Could you give us the piece of code you are using so we can try it ou?

[2016-05-20 09:48] rayrutjes commented on #27
Documentation LGTM. Feel free to re-open an issue with some insights of what you'd expect us to improve.

[2016-05-20 09:48] #27 closed

[2016-05-20 09:49] #47 closed

[2016-05-20 10:14] stoicbuddha commented on #56
[code]

I also tried passing the array in _geoloc as an object, tried typecasting the values as floats/ints/etc, to no avail.  I've noticed pretty much everything gets typecast to a string unless you explicitly typecast it as whatever type of number it should be.

[2016-05-20 11:37] #62 closed

[2016-05-20 12:50] JanPetr commented on #56
Hey @stoicbuddha,
I can see the problem. We accept only `lat` and `lng` attributes in `_geoloc`. And you have a typo as you are trying to send `long` instead of `lng`.

Can you confirm if it sorted out your problem? Otherwise, could you send me the version of the plugin you are using? Thanks!

[2016-05-20 14:49] stoicbuddha commented on #56
No, that was actually a typo when I was typing out that section of code.  I had to create a workaround by editing the core Algolia files in my project, so I tried pulling it from memory.

[2016-05-21 01:54] FredrikOseberg opened #63 "Algolia Exception: No content in PUT request"
Hi, I'm having trouble getting Algolia to index my model. After following the instructions to set it up (require it in with composer, add class to providers array, publish vendor and update config API keys, and adding trait to model class) I am getting the following error when making a POST request on a form submission:

AlgoliaException in Client.php line 910:
No content in PUT request
in Client.

[2016-05-23 11:16] JanPetr commented on #63
Hey @Kharebear, it's weird I'm not able to reproduce your issue. I tried to perform the same request as you pasted here and it works correctly and adds/updates record in the index.

Can you try to run the request independently on Laravel extension? Just try to run:
[code]
to see if it fails with same error and we can localize the error. If it's the issue with Laravel extension or our PHP client it

[2016-05-23 12:02] JanPetr commented on #56
Hello @stoicbuddha,
ok. But unfotunatelly I'm not able to reproduce the issue. I just tried to update `_geoloc` in my models and everything works correctly and location is updated in DB and in Algolia index as well.
Can you tell me what change did you ve to make to make it work on your side? Concerete files and lines will be the best!

And do you store `_geoloc` in the same model or do you have th

[2016-05-23 12:57] stoicbuddha commented on #56
Client.php around the 780 mark.  I have it doing a search for before the data is formatted for the request to set things properly.  I now send lat/long as their own sets of data, and set up the array on the tail end before the jSON bit.

As a side note, I'd also like to mention that mandatory typecasting for PHP should be noted in your docs.  I got to find out the hard way that everything had to b

[2016-05-23 13:04] stoicbuddha commented on #56
Can you show me exactly how you have your request set up for the `_geoloc` object?

[2016-05-23 13:23] #51 closed

[2016-05-23 13:24] JanPetr commented on #51
Fixed by #64. Feature will be part of next release.

[2016-05-23 13:41] JanPetr commented on #56
I do it the same way as you according yours messages above.

Model:
[code]

Updating:
[code]

Formatted data in `doRequest` method in Client.php:
[code]

Everything is indexed as expected.

Do you have any difference there?

[2016-05-26 07:15] lesterchan opened #65 "Anyway Not To Index A Particular Record?"
I am using getAlgoliaRecord() to create a custom structure in my model

I am wonder is there anyway I can break out of this function aka not index to algolia if for example a record is not public?

I tried
[code]
But the record still got pushed

[2016-05-26 08:43] JanPetr commented on #65
Hi @lesterchan,

there is available filter method `indexOnly()` - https://github.com/algolia/algoliasearch-laravel#restrict-indexing-to-a-subset-of-your-data

In your case it might look like this:
[code]

Does it help?

[2016-05-26 08:43] #65 closed

[2016-05-26 08:50] lesterchan commented on #65
Perfect! Thanks @JanPetr. I totally miss that portion of the doc!

[2016-06-03 15:16] Topbantsman opened #66 "setSettings breaks when being called statically"
I'm trying to reindex in the boot method of my model

    public static $algoliaSettings = [
        'attributesForFaceting' => [
            // attribute list
        ]
    ];

    protected static function boot()
    {
        parent::boot();

        static::reindex();
    }

However I get an 'array_keys() expects parameter 1 to be array' error on line 173 in AlgoliaEloquentTrait.php

[2016-06-03 16:21] Topbantsman commented on #66
Removed `static` from $algoliaSettings and used a constructor to initialise the attributes:

    public function __construct()
    {
        parent::__construct();

        $attributes = DB::table('attributes')->select('name')->get();
        $attributes = array_map(function ($val) {
            return 'attr.'.($val->name);
        }, $attributes);

        $this->algoliaSettings['attributesForFac

[2016-06-03 16:21] #66 closed

[2016-06-22 21:13] markbiek opened #68 "Possible to target multiple indices with different attributes for each?"
I see that it's possible to target multiple indices using `public $indices` and I also see that it's possible to specify which attributes are sent to an index using `getAlgoliaRecord()`.

My question is, is it possible for a single Model to send different attributes to different indices?

[2016-06-23 15:59] #68 closed

[2016-07-15 19:17] sunscreem opened #71 "Legacy site with hard coded () in URLs"
I'm working on a legacy site and it has has products with urls with bracket in:

[https://kiltmakers.co.uk/products/scottish-gifts/pocket-watches-and-clocks/2-piece-thistle-gift-set-(pocket-watch-and-cufflinks)](https://kiltmakers.co.uk/products/scottish-gifts/pocket-watches-and-clocks/2-piece-thistle-gift-set-(pocket-watch-and-cufflinks))

Not ideal.

I'm using Laravel to upload the index to Algo

[2016-07-27 19:37] mythsam opened #72 "Fail to reindex an index with slave"
Getting exception when calling reindex():

 [AlgoliaSearch\AlgoliaException]
  A slave index is already slave of another index

It appear to be calling setSettings() before unsetting the "slaves" key

Please review this issue.

[2016-07-27 19:45] mythsam opened #73 "Reindexing wipes out other settings"
When running reindex(), it overwrites the settings which is not being specified in the class $algoliaSettings variable. I believe we should preserve other settings if they exist in Algolia and are not specified on $algoliaSettings.

The area to fix should be in $modelHelper->getIndicesTmp(), when we initiating the tmp index, we should clone the original index's setting over.

[2016-07-29 21:31] sunscreem commented on #71
Turns out brackets are not valid in urls. So I removed the offending legacy code.

[2016-07-29 21:31] #71 closed

[2016-07-29 21:33] maxiloc commented on #71
Sorry for not responding, we missed this issue. Glad you were able to fix your issue. Feel free to ping us if you have any question.

[2016-07-29 23:12] maxiloc commented on #73
Yes that would be doable. Maybe an option is the best way to go.

[2016-07-29 23:21] maxiloc commented on #72
Yes this is intended because we want to set the slaves for the first index of getIndices. I think it can happen when modifying the slaves name between classes. The easiest way to go is to delete slaves indices from the algolia dashboard

[2016-07-29 23:21] #72 closed

[2016-07-29 23:21] maxiloc commented on #72
Can you tell me if that fixes your issue

[2016-09-07 09:07] maxiloc commented on #63
I am closing this, feel free to re-open if needed

[2016-09-07 09:07] #63 closed

[2016-09-07 09:08] maxiloc commented on #59
I am closing this, feel free to re-open if needed

[2016-09-07 09:08] #59 closed

[2016-09-07 09:10] maxiloc commented on #56
I am closing this, feel free to re-open if needed ?

[2016-09-07 09:10] #56 closed

[2016-09-23 01:31] tanshiqi opened #80 "How to send multiple queries?"
Just like: https://www.algolia.com/doc/api-client/php/search#multiple-queries
I didn't see multipleQueries method in Laravel Package. How to do this?
Thanks

[2016-09-26 15:44] GiampaoloFalqui commented on #51
This issue presents itself also on [algoliasearch-laravel4](https://github.com/algolia/algoliasearch-laravel-4) branch - tested now.

[2016-10-13 20:13] kinnedev opened #82 "Algolia Tags"
Is there a way to add a tag to an Object when saving it to Algolia.

For examples I have users with a state relationship. I would like to save a tag depending on that relationship.

Then I can search by query and tag on the front end.

Thank You!

[2016-10-13 20:16] maxiloc commented on #82
Hi @kinnedev,

Yes you can implement the `getAlgoliaRecord` method on your model:

[code]

[2016-10-13 20:16] #82 closed

[2016-10-13 20:20] maxiloc commented on #80
@tanshiqi Sorry for the delay. You need to use the php client that is installed with the algoliasearch-laravel package.

We use the great vinkla/algolia package that is the bridge between the algolia client and laravel.
See https://github.com/vinkla/laravel-algolia to know how to use it

[2016-10-13 20:43] kinnedev commented on #82
Awesome!

So I can run this method on any create or update correct?

[2016-10-13 20:44] maxiloc commented on #82
Yes any create or update will call this method to generate the record

[2016-10-13 20:46] kinnedev commented on #82
Great! Thanks for the quick replies!

[2016-10-15 20:49] luan0508 opened #83 "Issue with Geolocation data (lat / lng) indexing"
Geo-search overview expects geoloc array with lat and lng values.

How can I index in my database a geoloc array ? Should I store as string? Create a relational table called _geoloc? Use mySQL spatial point column?

[
 {
    objectID: "3797",
    name: "John F Kennedy Intl",
    city: "New York",
    country: "United States",
    iata_code: "JFK",
    _geoloc: {
      lat: 40.639751,
      lng: -7

[2016-10-16 18:17] kdoonboli opened #84 "Can you limit attributes (table columns) uploaded to Algolia?"
For example, I may have 12 columns in my model/table, but I only want to upload 3 attibutes uploaded to Algolia?.
I understand I can set "searchable attributes" to limit which attributes are searched, but still all 12 attributes/table columns get uploaded to Alogolia.

[2016-10-16 18:32] maxiloc commented on #84
You can implement the `getAlgoliaRecord` method on your model, it will look like this:

[code]

[2016-10-16 18:32] #84 closed

[2016-10-16 20:06] kdoonboli commented on #84
Thanks!! It worked.
It would be helpful to add this to the Read Me section.

[2016-10-16 20:54] maxiloc commented on #84
Yes the readme needs some love right now. We'll do a new iteration very soon.

[2016-10-16 20:54] maxiloc commented on #84
Thanks for the feedback 💯

[2016-10-19 00:32] luan0508 commented on #83
can someone please help?

[2016-11-03 10:28] Pautomagi commented on #73
Any updates on this?

[2016-11-03 11:17] maxiloc commented on #73
I'll try to work on it next week.
Feel free to submit a PR before then.

[2016-11-03 11:17] #80 closed

[2016-11-03 11:18] maxiloc commented on #83
Sorry for the response delay.
Do you still have the issue ?

[2016-11-03 11:39] luan0508 commented on #83
hi @maxiloc, yes I haven't been able to resolve this issue. Do you have any suggestions on how to store _geoloc data?

[2016-11-03 12:13] maxiloc commented on #83
The `getAlgoliaRecord` code should look like:

[code]

`$this->geoloc_lat` and `$this->geoloc_lng` should be replaced by the code needed to fetch latitude and longitude depending on how your store your geoloc data

[2016-11-04 09:15] Pautomagi commented on #73
Thanks!

I did a tempoary thing by calling setSettings in the Trait for now.

Something like this.
[code]

[2016-11-06 09:24] naumanahmed19 opened #88 "Reindex Data with Relational Table"
I have implemented Aloglia (laravel scout.) for my Movies table with actors as relational table and it works fine.

Problem:

When I update any movie its also updating algolia index (its good). But how can I update index if I made any change in relational table (for example update an actor of movie).

How to push a specific record manually with laravel scout.

Right now follwoing code is reindex a

[2016-11-06 10:15] naumanahmed19 commented on #88
I got it working by changing ```toSearchableArray```to ```getAlgoliaRecord``

Now I am wondering is it ok to use ```Movie::reindex();```  because its updating all records. or should I use ```indexOnly``` and how

[2016-11-07 09:55] maxiloc commented on #88
@naumanahmed19 I am closing this. This issue should be directed to the laravel/scout repo.
Feel free to contact us via email for scout related support (support at algolia dot com)

[2016-11-07 09:55] #88 closed

[2016-11-07 09:57] #83 closed

[2016-11-07 13:05] maxiloc commented on #73
Fixed with 90ba259d1831648a3bff5a37b293a2fa7eea7e81

[2016-11-07 13:05] #73 closed

[2016-11-15 14:41] LarsWith opened #89 "indexOnly() indexname how to write"
I was looking at this func

[code]

But how do i write $index_name?

is it

public function indexOnly("myIndexName")
{
        return (bool) $condition;
}

or

public function indexOnly(['myIndexName'])
{
        return (bool) $condition;
}

Also if I run save() on my model it will reindex.

But can I disable the index for a one time save only or must I use indexOnly() ?

[2016-11-15 14:51] JanPetr commented on #89
Hello @LarsWith,
your don't have to pass the `$indexName` manually. It's a variable and it's passed to the method automatically, so you can use it for the condition if the record should or should not be indexed.

You can just add this to your model:
[code]
and reindex. And you should see the name of the index printed out.

When you call `save()` on your model it should index only saved record. But

[2016-11-17 22:20] joshforbes opened #90 "Index prefixes"
Does any besides me have a use case for dynamically setting prefixes on indexes? We run multiple sites out of one codebase with some key differences being decided by a site variable in the .env.  With the index being set through a property I cannot use an expression (such as config('algolia.index-prefix')) to set it.

This could be accommodated with a  fairly simple change to the code base.  Simpl

[2016-11-17 23:09] joshforbes commented on #90
Alternatively, instead of a method to get the index prefix there could be a indexes() method that allowed the indexes to be set in a method.

[2016-11-18 00:22] joshforbes commented on #90
I possible implementation would be:

https://github.com/algolia/algoliasearch-laravel/pull/91

[2016-11-19 16:31] hamog opened #92 "Date condition not working"
Hi, This code works correctly in Laravel
[code]
but happen error in Alogolia search
[code]
And error message:
AlgoliaSearch\AlgoliaException with message 'Invalid syntax for numeric condition:created_at=>'

[2016-11-29 05:08] chuhemiao commented on #36
@maxiloc  if ip is Aliyun ,laravel 5.1 algolia not be able to run it？

[2016-11-29 10:36] maxiloc commented on #36
@chuhemiao Can you send an email to support at algolia dot com. We'll be happy to investigate with you

[2016-12-01 00:09] kiwo12345 opened #93 "Prevent getAlgoliaRecord() from getting called every time I use update() or save()"
Is there a way to prevent `getAlgoliaRecord()` from getting called each time I use `save()` or `update()` ?

Sometimes I update my records by using ->save() and ->update() and this seems to trigger the `getAlgoliaRecord()` function

[2016-12-01 07:20] GiampaoloFalqui commented on #93
You can find more information about disabling automatic indexing here.

https://github.com/algolia/algoliasearch-laravel#auto-indexing--asynchronism

[2016-12-23 15:29] Ardakilic opened #117 "Relationshipped data is not stored when in pivot table."
Hello,

I've a problem with Algolia Search Client using Laravel 5.1 and SQLite (development environment).

I've enabled auto-indexing, however the relationship data is not saved when creating a new record.

This is roughly the codes in my model:

[code]

And this is roughy the photo creation code:

[code]

As you can see, the `user_name` string and the `tags` array comes from a string.

The user_n

[2017-01-04 07:46] brryfrmnn opened #118 "How to Paginate result from Contact::search('john doe')"
How to paginate / next page from query Backend search ?
because the result just show 20 record from page 0.

[2017-01-05 23:24] JanPetr commented on #118
Hello @brryfrmnn,

the `search()` method of your model takes as second parameter array of parameters for search. You can see the list of off all parameters in [Algolia documentation](https://www.algolia.com/doc/api-client/php/search/#search-parameters).

So if you want results from the third page, it might look like this:
[code]

Be careful as the page parameter is zero-based, meaning that page=0

[2017-01-05 23:24] #118 closed

[2017-01-05 23:27] #93 closed

[2017-01-05 23:34] JanPetr commented on #92
Hello @hamog,
sorry for the very late answer.

The `search()` method of your model takes as second parameter array of parameters for search. You can see the list of off all parameters in [Algolia documentation](https://www.algolia.com/doc/api-client/php/search/#search-parameters).

So if you want filter your results according the date, it might look like this:
[code]

Be careful as the `date` has

[2017-01-05 23:34] #92 closed

[2017-01-05 23:35] #89 closed

[2017-01-06 21:44] petemolinero opened #120 "Is it possible to load a multi-level relationship?"
I have a parent model that has both a child and a grandchild. Here's the gist:

[code]

The problem is that when I call `Page::reindex()` it's only retrieving the `Element` data--it's not diving into the `Content` data at all.

Is there any way to get all descendant relational data?

Thanks!

[2017-01-15 23:22] elfeffe opened #122 "One model with different indexes or different models?"
I have a set of items that belongs to different websites, some items belongs to website xx and some others to website yy.
I'm not sure if it's better to have all the items in the same laravel model, or if it's better to have different models, since I need separated indexes for them.
Algolia updates indexes when the model is updated, but how to specify a subset inside the model (xx and yy)?

[2017-01-16 16:01] maxiloc commented on #122
Hi @elfeffe

It mostly depends on the UI/UX you want to provide. if you want a single list of results it's better in one index otherwise if you want to display several section it's better to have several.

In case you want to go with one index you need to implement the `getAlgoliaRecord` on your model:

[code]

Also when updating an element in the subset you will need to trigger manually the reind

[2017-01-26 14:33] matthewmnewman opened #126 "Laravel 5.4 Compatibility"
After moving over to Laravel 5.4 it seems their is as an exception which is being thrown:

[code]

Not sure if this is directly related but any assistance would be appreciated.

Cheers!

[2017-01-27 14:02] pyaesone17 commented on #126
Yes I also have that issue.

[2017-01-28 00:44] kinsaz commented on #126
I also have this issue. Does anybody have any ideas on how to address it? I am going crazy trying to follow the stack trace. It seems like something happens to trigger this error when I try to save() the model that is being used.  Thanks!!!

[2017-01-30 16:43] kinsaz commented on #126
As a temporary work around, I found that if you go to the vendor\algolia\algoliasearch-laravel\src\EloquentSubscriber.php file and remark out everything in saved() except the return true; (see example below) the aforementioned error will cease. Please note that this will get over-written when there is a package update for algolia. It will also prevent the algolia autosave/auto-index in your models

[2017-01-30 17:06] rayrutjes commented on #126
@kinsaz do you mind dumping the content of the string $model while we investigate?

[2017-01-30 17:11] kinsaz commented on #126
this is the dump of $model

"eloquent.saved: App\PageView"
Would you like the full stack trace from the log file?

[2017-01-30 17:13] kinsaz commented on #126
This is the stack trace:

[2017-01-30 17:11:59] local.ERROR: Symfony\Component\Debug\Exception\FatalThrowableError: Type error: Argument 1 passed to AlgoliaSearch\Laravel\ModelHelper::isAutoIndex() must be an instance of Illuminate\Database\Eloquent\Model, string given, called in /home/vagrant/LaravelProjects/MavenPages/vendor/algolia/algoliasearch-laravel/src/EloquentSubscriber.php on line 18 in

[2017-01-30 18:26] rayrutjes commented on #126
Thanks a bunch for that.
After investigation, Laravel seems to have change the way payload is passed to event listeners.

I think this line is troubling us: https://github.com/laravel/framework/blob/5.4/src/Illuminate/Events/Dispatcher.php#L231

I will try to fix this tomorrow.

Stay tuned ;)

[2017-01-30 19:45] rayrutjes commented on #126
OK so that is not the problem, the problem is the diff between those 2:
- https://github.com/laravel/framework/blob/5.3/src/Illuminate/Events/Dispatcher.php#L221
- https://github.com/laravel/framework/blob/5.4/src/Illuminate/Events/Dispatcher.php#L199

In 5.3 Laravel triggers the listener by calling `call_user_func_array` which will make the first entry of the payload be the first parameters of th

[2017-01-30 19:57] rayrutjes commented on #126
Ok so it is on purpose according to the upgrade guide: https://laravel.com/docs/master/upgrade#upgrade-5.4.0

[code]

I will implement a fallback.

[2017-01-30 23:20] #126 closed

[2017-01-30 23:24] kinsaz commented on #126
Great. Thanks

[2017-01-30 23:26] rayrutjes commented on #126
@kinsaz you should be able to update in a few. It is part of 1.7.1. Let me know if it correctly solves the problem for you ;)

[2017-01-30 23:36] rayrutjes commented on #117
Hi @Ardakilic ,

Currently we only subscribe for the events fired by the model itself, not the relationships.

I don't think we plan to support this given that then we would need to add other use cases as well and it would add some overhead.

The `$photo->touch()` seems like the easiest way to go for it. Let us know if you have a better idea in mind.

[2017-01-30 23:38] #117 closed

[2017-01-31 13:38] kinsaz commented on #126
It works like a charm!!!! Thanks soooooo much!!! I really appreciate it.

The only issue I see now is when I run composer I get:

Warning: Ambiguous class resolution, "Cloudinary\Akamai" was found in both "/home/vagrant/LaravelProjects/MavenPages/vendor/cloudinary/cloudinary_php/src/Akamai.php" and "/home/vagrant/LaravelProjects/MavenPages/vendor/cloudinary/cloudinary_php/src/Cloudinary/Akamai.php

[2017-01-31 14:15] rayrutjes commented on #126
Glad to hear that @kinsaz ,

For the error related to Cloudinary, please see this issue: https://github.com/cloudinary/cloudinary_php/issues/60

Seems like you are not alone experiencing this ;)

Happy coding further!

[2017-01-31 15:07] matthewmnewman commented on #126
@rayrutjes

Cheers for fixing! Appreciated!

Thanks,
Matthew

[2017-03-12 20:15] maxiloc opened #138 "Synonyms erased"
If you set synonyms via the dashboard, there is no way to not erased them
if you do a reindex.

[2017-03-13 17:55] chafreaky commented on #120
@petemolinero  Have you tried using the `public function getAlgoliaRecord()` method on your model and defining the array yourself by doing something like `$this->customFunction()` and having the `customFunction` build out your data how you wish?

[2017-03-14 18:10] nexxai commented on #120
Not sure if you figured this out yet or not but if you do:

    public function getAlgoliaRecord()
    {

        $this->contents->elements;
        return $this;

    }

It will work like you're expecting.

[2017-03-14 18:14] nexxai opened #139 "Is it possible to load multiple different relationships (not simply multi-level)"
Say I have a model called "Book" and that is related to both "Page" and "Author" models, but that the page and author models are separate.  If it was a simple multi-level relationship, I could do something like:

    public function getAlgoliaRecord()
    {

        $this->page->author;
        return $this;

    }

But since the relationships aren't related, I'm not sure how I'd go about grabbing

[2017-03-15 15:35] acidreign commented on #139
Can't you just do this?
`public function getAlgoliaRecord()
{
    $this->author;
    $this->page;
    return $this;
}`

[2017-03-15 23:40] nexxai commented on #139
Wow, I'm an idiot.  I figured (incorrectly) that doing $this->page; would somehow overwrite $this->author; so I didn't even bother trying.

Thank you for clearing that up for me!

[2017-03-15 23:40] #139 closed

[2017-03-16 02:46] nexxai opened #140 "Is there a way to conditionally display entire HTML tags?"
This is probably another stupid question but I'm going to ask anyways.

Our index contains an optional field which if filled contains a URL to an image.  What I want to be able to do is in my template only show the entire <img tag plus the URL, etc. *if* there's an image in the image field.  If not, I want it to completely skip the <img tag altogether.

Is this possible?

[2017-03-16 08:56] rayrutjes commented on #140
Hi @nexxai ,

This is totally do-able.

That being said, it will:
- Increase the payload sizes of your records
- Make it hard to escape the output and ensure you are secured against XSS holes

I would rather only store the image URL, and then either use an "empty image" placeholder url when no image is available, or do a condition in your frontend template.

I'm closing this for now, but feel free

[2017-03-16 08:56] #140 closed

[2017-03-16 13:57] nexxai commented on #140
Thanks for the quick response - my issue is specific to the InstantSearch (which apparently I forgot to include in my original question), which makes the "condition in my frontend template" difficult from the Laravel side, I think?  I'm far from a master on JavaScript (or Laravel or PHP, for that matter) so if there's a way to do it there, I'm very interested to learn what it is, but I'm not quite

[2017-03-19 00:39] kiwo12345 opened #141 "Is there any way to update a record in Algolia without updating Eloquent model"
I was wondering if there is any way to update a record in Algolia without updating my Eloquent model.
When I do `MyModal->save();` it will also update my record/row in my MySql DB. What I want to do is to update a certain row/record in my Algolia DB without updating my local MySql db.

If I set `public static $autoIndex = false;` I then have to do something like this if I want to save a record:

[

[2017-03-20 03:30] chrisvidal opened #142 "How to export the results from a frontend search ?"
One of my client requirement is to add the ability to export to CSV the results of an algolia search.

How is it possible to use the the frontend query url parameter and stuffs from the backend side so I can build an export ?
I saw the method ::search but i dont see where I could use the query paramater url from the frontend

Thank you for any ideas

[2017-03-20 07:49] bellebono opened #143 "Return lat lng by simple input address"
Hi,
how return lat and lng by the simple input address?

Tanks

[2017-03-21 15:01] kiwo12345 opened #145 "Error handling and queues"
I wonder if I can use some sort of error handling when using `$contact->pushToIndex();` eg `try` `catch`

Also, is it possible to use `->pushToIndex();` in a queue worker?

[2017-04-14 13:45] julienbourdeau commented on #141
Hi @kiwo12345,

Can you give us some details about your use case? I'm interested to know why you'd like to have different information in your DB and in Algolia.

I just checked and you can use `pushToIndex()` without saving to the DB first.

[code]

[2017-04-14 13:45] #141 closed

[2017-04-14 13:51] julienbourdeau commented on #143
Hi @bellebono,

I don't understand exactly what you are trying to achieve but it doesn't really seems like an bug or laravel related.

If it's a general question and you need help achieving something, I would recommend to post your question on our [discourse forum](https://discourse.algolia.com/) or stack overflow (add `algolia` in the tags).

If I misunderstood, please provide more details and I'

[2017-04-14 13:51] #143 closed

[2017-04-14 13:54] julienbourdeau commented on #122
Hi @elfeffe,

I hope Maxime answered your questions. If you have any further question feel free to update this thread.

[2017-04-14 13:54] #122 closed

[2017-04-14 13:56] julienbourdeau opened #161 "Reindexing command"
Is there a reason why there isn't a reindexing command (like in the Symfony bundle for instance)?

[2017-04-14 14:10] julienbourdeau commented on #145
Hi @kiwo12345,

The `pushToIndex()` method should work without any problem in a queue worker.

`pushToIndex()` will call the `doRequest()` method from our PHP client so you will at least be able to catch some Algolia exceptions ([here](https://github.com/algolia/algoliasearch-client-php/blob/master/src/AlgoliaSearch/Client.php#L814) or [here](https://github.com/algolia/algoliasearch-client-php/blo

[2017-04-14 14:10] #145 closed

[2017-04-14 14:12] julienbourdeau commented on #145
It has been a few days since you asked the question, so if you have anything you tried and want to share, feel free to do so 😄

[2017-04-14 15:07] julienbourdeau commented on #90
Thanks for your PR :)

[2017-04-14 15:07] #90 closed

[2017-04-14 16:00] julienbourdeau commented on #142
HI @chrisvidal

Can you details what you mean by _"I saw the method ::search but i dont see where I could use the query paramater url from the frontend"_?

I believe you can use the parameters in the frontend search and the backend search:
[code]
Are you talking about `attributesToRetrieve, `attributesToHighlight` and so on?

[2017-04-15 00:31] nexxai opened #163 "Using instantsearch.js, having issues with results"
Ok to preface this, I am absolutely not a front-end guy so I apologize if this question is stupid.

What I am trying to do is build a template that takes a given result and triggers some jQuery code (an AJAX request specifically) specific to that result.

For example, here is the hit-template:

[code]

And the goal is that if someone clicks the "I want this" link at the bottom of that result, it s

[2017-04-18 12:21] julienbourdeau commented on #120
Thanks @nexxai and @chafreaky !

[2017-04-18 12:21] #120 closed

[2017-04-20 16:45] chafreaky commented on #138
Is there any update on this? :)

[2017-04-26 09:57] chrisvidal commented on #142
Thks @julienbourdeau
Sorry I was offline for a while.
Well, the idea is to give the user the ability to save their search with query and facet refinements.
Example: search for the query "uni" with the facet Bands value (Apple, Microsoft) and facet Color (blue, red)
I need to save this search somehow (using Laravel in my case) and then running a weekly cron job  to send the results of the saved sea

[2017-04-27 16:31] sgatz commented on #161
+1 it would be nice to have a php artisan algolia:import  like how scout does it

[2017-05-13 08:42] chrisvidal opened #173 "Reindex with relationships"
I am having some difficulties to finalise a index containing 100 000 records with about 6 relationships.
I am always facing a timeout event when using the chunk method like this
adapted from the algoliatraiteloquent.php

[code]

[2017-07-13 19:11] Rkallenkoot opened #175 "indices() method not yet in released version"
Currently trying to use this package, we'd like to use different indices defined at runtime.
Therefor the `indices()` method would be a great option, but it's not available yet in the version that's on packagist.

Is there any specific reason for this?

Cheers

[2017-07-26 20:17] Rkallenkoot commented on #175
Since the package is marked abandoned and Laravel Scout is suggested as the alternative, we'll be moving to scout which makes this functionality possible with the `SCOUT_PREFIX` environment variable.

[2017-07-26 20:17] #175 closed

[2017-08-03 11:53] mocheaz opened #177 "Laravel 5.4.31"
The client can't be installed on laravel 5.4.31.

Any idea how to install it?

[2017-08-03 16:06] rayrutjes commented on #177
Hey @mocheaz , thanks for reaching out here.
Could you be more specific?
Are you talking about the algoliasearch-client-php or this package?

Have any errors?

[2017-08-10 07:50] mocheaz commented on #177
Sorry it was because my php wasn't ^7.0

[2017-08-10 07:50] #177 closed

[2017-08-18 12:46] a4anes opened #179 "How to access waittask method of algolia"
How to access `waittask` method of algolia? I want to wait until indexing completed.
https://www.algolia.com/doc/api-client/php/indexing/#wait-for-operations

[2017-08-23 19:31] Haroenv opened #180 "mention “deprecation” in README"
Scout is only mentioned in the `composer.json`, not in the description or README

[2017-08-24 13:18] rayrutjes commented on #180
![image](https://user-images.githubusercontent.com/5570853/29668151-6ebb0886-88df-11e7-88b5-0b8005f717a5.png)
First step.

Not sure if the readme is managed by one of our bots cc @julienbourdeau @maxiloc

[2017-08-24 13:18] #180 closed

[2017-08-24 15:37] julienbourdeau commented on #180
Not anymore (because it's deprecated). I'll update it today 👍

[2017-11-20 21:50] be-mohand commented on #56
I am having the same issue, even if I am not using Laravel but CakePHP.

Maybe is it an issue with PHP v7.1?

[2017-12-18 09:22] mayuripansuriya commented on #173
try
`Company::chunk(100, function ($companies) {
  foreach ($companiesas $company) {
   //your code here
  }
});
`

[2017-12-27 09:52] #179 closed

[2018-01-19 12:10] mtilokani commented on #25
@maxiloc , I am also facing this same issue.

And when I am running command `ls /etc/ssl/certs | grep -i comodo` , then I am getting following output:

`Comodo_AAA_Services_root.pem
COMODO_Certification_Authority.pem
COMODO_ECC_Certification_Authority.pem
COMODO_RSA_Certification_Authority.pem
Comodo_Secure_Services_root.pem
Comodo_Trusted_Services_root.pem`

Can you please let me know what's the

[2018-03-05 12:49] julienbourdeau commented on #161
Since this project is now deprecated, I'll close this issue.

[2018-03-05 12:49] #161 closed

[2018-03-05 12:51] julienbourdeau commented on #138
This won't be addressed since the project is now deprecated.

I recommend using Laravel Scout and ou [algolia settings extensions](https://github.com/algolia/laravel-scout-settings/).

[2018-03-05 12:51] #138 closed

[2018-03-05 13:10] julienbourdeau commented on #163
Hi Justin,
Sorry for not answering earlier. It seems like this issue is not related to this laravel pakage. I hope you have found a way to fix it.

Best,
Julien

[2018-03-05 13:10] #163 closed

[2018-03-05 13:15] julienbourdeau commented on #142
There are no built-in way to do that but it should be doable with a command.

I would save search (query, parameters, objectIDs of the X first results) in json.
Then a Laravel command would use `::search()` to replay the query and compare the results objectIDs with saved ones.

[code]

I hope you found a way to make it work for you.
Best,
Julien

[2018-03-05 13:15] #142 closed

[2018-07-24 11:01] nageennayak11 opened #182 "AlgoliaConnectionException : Hosts unreachable: Connection"
I am using algolia service for search so i just add object when new user add/update but i getting the error.

Machine :- Windows 10 64 bit
Web server  :- Apache/2.4.26
PHP :- 7.7.1
framework :- Laravel 5.5

and i got error when i update/add user

(1/1) AlgoliaConnectionException
Hosts unreachable: Connection timed out after 1000 milliseconds,Connection timed out after 1016 milliseconds,Connection

[2018-07-24 11:03] nageennayak11 commented on #182
its working for search but its taking wrong data for update

[2018-07-26 04:13] #182 closed, assigned to nobody

[2018-07-31 14:42] #173 closed

[2018-07-31 14:43] julienbourdeau commented on #173
Hi,

I hope you found a way to index everything, sorry never answered. This package is unmaintained, I hope you can switch to Laravel Scout.